{% extends 'base.html.twig' %}

{% block title %}Page Register{% endblock %}

{% block body %}
    <h1>S'inscrire</h1>
    {{ form_start(register_form) }}
    {{ form_row(register_form.lastname) }}
    {{ form_row(register_form.firstname) }}
    {{ data.error.pseudo }}
    {{ form_row(register_form.pseudo) }}
    {{ data.error.email }}
    {{ form_row(register_form.email) }}
    {{ form_row(register_form.password) }}
    {{ form_row(register_form.password_confirm) }}
    {{ data.error.pass }}
    {{ form_row(register_form.Submit) }}
    {{ form_end(register_form) }}
{% endblock %}
