{% extends 'base.html.twig' %}

{% block title %}{{ annonce.title}}{% endblock %}

{% block body %}
    <style>
        #annonce_section{
            display: flex;
        }
        #annonce_section ul{
            list-style-type: none;
        }
        #annonce_section .annonce_subtitle{
            font-size: 15px;
            font-weight: bold;
        }
        .user_comment{
            font-weight: bold;
        }
        .response-form{
            display: flex;
            flex-direction: column;
        }
    </style>
    <h1>{{ annonce.title }}</h1>
    <div id="annonce_section">
        <img src="{{ annonce.photos }}" alt="{{ annonce.title }}">
        <ul>
            <li>
                <p class="annonce_subtitle">Titre :</p>
                <p>{{ annonce.title }}</p>
            </li>
            <li>
                <p class="annonce_subtitle">Date de création :</p>
                <p>{{ annonce.dateCreation|date("F jS \\a\\t g:ia") }}</p>
            </li>
            <li>
                <p class="annonce_subtitle">Description :</p>
                <p>{{ annonce.description }}</p>
            </li>
            <li>
                <p class="annonce_subtitle">Prix :</p>
                <p>{{ annonce.price }} €</p>
            </li>
            <li>
                <p class="annonce_subtitle">Vendeur :</p>
                <p>{{ seller[0].pseudo }}</p>
                <p>{{ seller[0].email }}</p>
            </li>
        </ul>
    </div>
    <div id="comments_section">
        <h2>Commentaires :</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    {% if comment.response == null and app.user.id == seller[0].id %}
                    <form action='{{ path( "app_response_add", {"id": id}) }}' method="post">
                        <p><span class="user_comment">{{ comment.pseudo }}</span> {{ comment.creation_date|date("F jS \\a\\t g:ia") }}</p>
                        <p class="comment">{{ comment.question }}</p>
                        <button class="response-btn">Répondre</button>
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    </form>
                    {% else %}
                        <p><span class="user_comment">{{ comment.pseudo }}</span> {{ comment.creation_date|date("F jS \\a\\t g:ia") }}</p>
                        <p class="comment">{{ comment.question }}</p>
                    {% endif %}
                </li>
                {% if comment.response != null %}
                <li>
                    <p><span class="user_comment text-danger">{{ seller[0].pseudo }}</span> {{ comment.response_date|date("F jS \\a\\t g:ia") }}</p>
                    <p>{{ comment.response }}</p>
                </li>
                {% endif %}
            {% endfor %}

        </ul>
        {% if app.user != null and app.user.id != seller[0].id %}
        <form class="w-50 d-flex flex-column" action="{{ path( "app_comment_add", {'id': id}) }}" method="post">
            <label for="question">Commentaire</label>
            <textarea id="question" name="question" rows="3"></textarea>
            <button class="btn btn-lg btn-primary m-auto mb-4" type="submit">
                Commenter
            </button>
        </form>
        {% endif %}
    </div>
    
{% endblock %}
