{% extends 'base.html.twig' %}

{% block title %}titre{% endblock %}

{% block body %}

 <div id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
    
    <header class="masthead" style="background-image:url('assets/img/header-bg.jpg');">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span> Vous chercher une annonce ?</span></div>
                <div class="intro-heading text-uppercase"><span>LebonCoin-2.0</span></div>
            </div>
        </div>
    </header>
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Annonces</h2>
                    <h3 class="text-muted section-subheading">Vous etes libre de choisir une annonce qui vous convient</h3>
                    <form class="w-50 d-flex flex-column" action="{{ path( "app_annonce_list") }}" method="post">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="" name="_search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                        
                        <button class="btn btn-outline-success" type="submit">reset</button>
                    </form>
                </div>
            </div>
            <div class="row">
        {% if  annonce is iterable  %}
            {% for single in annonce %}
                <div class="col-sm-6 col-md-4 portfolio-item">
                    <a href="/annonce/{{single.id}}">
                    <img class="img-fluid" src="{{single.photos}}">
                    </a>
                    
                    <div class="portfolio-caption">
                        <h4>{{(single.title)}}</h4>
                        <p class="text-muted"> A partir de :{{(single.price)}} $</p>
                        <p class="text-muted">Créée le  : {{(single.dateCreation|date("d/m/Y"))}}</p>
                    </div>
                </div>
            {% endfor %}
            
            {% else  %}
                <div class="col-sm-6 col-md-4 portfolio-item">
                    <a href="/annonce/{{annonce.id}}">
                    <img class="img-fluid" src="{{annonce.photos}}">
                    </a>
                    
                    <div class="portfolio-caption">
                        <h4>{{(annonce.title)}}</h4>
                        <p class="text-muted"> A partir de :{{(annonce.price)}} $</p>
                        <p class="text-muted">Créée le  : {{(annonce.dateCreation|date("d/m/Y"))}}</p>
                    </div>
                </div>
            {% endif %}
                
                
            </div>
        </div>
    </section>
  
    
    
    


</div>

  
           
{% endblock %}
